@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");
.App{
  min-height:100vh;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head {
  font-size: 50px;
  color: #40b48e;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  align-items: center;
}
.search-form{
  min-height:10vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 50%;
  border:none;
  padding:10px;
}
.search-button{
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);  padding: 10px 20px;
  color:white;

}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}